node_modules/@stimulus/*

node_modules/stimulus/*
!node_modules/stimulus/dist/
node_modules/stimulus/dist/*
!node_modules/stimulus/dist/stimulus.umd.js

node_modules/todomvc-app-css/*
!node_modules/todomvc-app-css/index.css

node_modules/todomvc-common/*
!node_modules/todomvc-common/base.css
!node_modules/todomvc-common/base.js
